[submodule "reference_monitor"]
	path = reference_monitor
	url = git@github.com:Lind-Project/reference_monitor.git
[submodule "lind_glibc"]
	path = lind_glibc
	url = git@github.com:Lind-Project/Lind-GlibC.git
[submodule "caging"]
	path = caging
	url = git@github.com:detectivelyw/caging.git
[submodule "nacl_repy"]
	path = nacl_repy
	url = git@github.com:Lind-Project/nacl_repy.git
[submodule "lind_experiments"]
	path = lind_experiments
	url = git@github.com:Lind-Project/lind_experiments.git
[submodule "misc"]
	path = misc
	url = git@github.com:Lind-Project/Lind-misc.git
[submodule "lind/nacl/native_client"]
	path = lind/nacl/native_client
	url = git@github.com:Lind-Project/native_client.git
[submodule "nacl-gcc"]
	path = nacl-gcc
	url = git@github.com:Lind-Project/nacl-gcc.git
[submodule "lind/third_party"]
	path = lind/third_party
	url = git@github.com:Lind-Project/third_party.git
[submodule "third_party"]
	path = third_party
	url = git@github.com:Lind-Project/third_party.git
