[submodule "reference_monitor"]
	path = reference_monitor
	url = https://github.com/Lind-Project/reference_monitor.git
[submodule "caging"]
	path = caging
	url = https://github.com/detectivelyw/caging.git
[submodule "lind_glibc"]
	path = lind_glibc
	url = https://github.com/Lind-Project/Lind-GlibC.git
	branch = develop
[submodule "nacl_repy"]
	path = nacl_repy
	url = https://github.com/Lind-Project/nacl_repy.git
	branch = develop
[submodule "lind_experiments"]
	path = lind_experiments
	url = https://github.com/Lind-Project/lind_experiments.git
	branch = develop
[submodule "third_party"]
	path = third_party
	url = https://github.com/Lind-Project/third_party.git
	branch = develop
[submodule "nacl-gcc"]
	path = nacl-gcc
	url = https://github.com/Lind-Project/nacl-gcc.git
	branch = develop
[submodule "nacl-binutils"]
	path = nacl-binutils
	url = https://github.com/Lind-Project/nacl-binutils.git
	branch = develop
[submodule "lss"]
	path = lss
	url = https://github.com/Lind-Project/linux-syscall-support.git
	branch = develop
[submodule "lind-misc"]
	path = lind-misc
	url = https://github.com/Lind-Project/Lind-misc.git
	branch = develop
