# lind specific files
list.txt
build.log
error.log
.gclient*
repy
nacl
misc
nacl_repy
/lind/Makefile
/lind/safeposix-rust

# lind specific directories
repy/
misc/
tools/
build/
testing/
_bad_scm/
breakpad/
naclports/
buildtools/
build_overrides/
validator_snapshots/
repy/
nacl/
/lind/*/
/venv/
/virtualenvs/*/
!/virtualenvs/
/test_cases/*
!/test_cases/bash
/test_cases/bash/examples/
/test_cases/bash/po/stamp-po
!/test_cases/busybox
!/test_cases/coreutils
!/test_cases/dash
!/test_cases/httpd*
!/test_cases/nginx
!/test_cases/lighttpd2
!/test_cases/expat
!/test_cases/libxml2
!/test_cases/brotli
!/test_cases/zlib
!/test_cases/pcre
!/test_cases/mysql
!/test_cases/mariadb
!/test_cases/php
/test_cases/dash/src/bltin/.deps/
/test_cases/dash/src/bltin/.dirstamp
!/test_cases/*.c
!/test_cases/*.s

# workspaces
/build/
/staging/

# archives
*.tar*
*.gz
*.bz2
*.zip
*.7z

# general files
core.*
*.rej
*.old
*.old
*.orig
*.rej
*.swo
*.swp
*\~
cscope.out
cscope.in.out
cscope.po.out
tags
TAGS
vgcore*
typescript
config.log
config.status

# Binaries
*.out
*.exe

# Profiling
*.gcda
*.gcno

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.d

# Libraries
*.lib
*.a
*.la
*.lo
*.old

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.nexe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.tar.gz

# docker files
!docker/lind-base/home/lind/build/make-3.82/make-3.82-3.82-1-x86_64.pkg.tar.xz
!docker/lind-base/home/lind/build/texinfo-4.13/
!docker/lind-base/**/build/
!docker/lind-base/**/.zsh.d/
!docker/lind-base/home/lind/.zsh.d/plugins/zplug/.git/
docker/etc/
docker/home/
docker/root/
pkgs/

# vi:ft=cfg:

#Scons pyc files
src/third_party/scons-2.0.1/engine/SCons/*/*.pyc
src/third_party/scons-2.0.1/engine/SCons/*.pyc
