[submodule "src/nacl_repy"]
	path = src/nacl_repy
	url = https://github.com/Lind-Project/nacl_repy.git
	branch = develop
[submodule "src/nacl-gcc"]
	path = src/nacl-gcc
	url = https://github.com/Lind-Project/nacl-gcc.git
	branch = develop
[submodule "src/lind-misc"]
	path = src/lind-misc
	url = https://github.com/Lind-Project/Lind-misc.git
	branch = develop
[submodule "src/lind_glibc"]
	path = src/lind_glibc
	url = https://github.com/Lind-Project/Lind-GlibC
    	branch = develop
[submodule "src/nacl-binutils"]
	path = src/nacl-binutils
	url = https://github.com/Lind-Project/nacl-binutils
    	branch = develop
[submodule "src/nacl_repy"]
	path = src/nacl_repy
	url = https://github.com/Lind-Project/nacl_repy
    	branch = develop
[submodule "tests/lind_experiments"]
	path = tests/lind_experiments
	url = https://github.com/Lind-Project/lind_experiments.git
[submodule "src/native_client"]
	path = src/native_client
	url = https://github.com/Lind-Project/native_client.git
	branch = develop
[submodule "src/--force"]
	path = src/--force
	url = https://github.com/Lind-Project/safeposix-rust.git
[submodule "src/safeposix-rust"]
	path = src/safeposix-rust
	url = https://github.com/Lind-Project/safeposix-rust.git
