# directories
build/
repy/
/lind/naclports/
/lind/nacl/*
!/lind/nacl/native_client/

# lind specific files
list.txt
build.log
error.log
.gclient*

# general files
core.*
*.rej
*.old
*.old
*.orig
*.rej
*.swo
*.swp
*\~
cscope.out
cscope.in.out
cscope.po.out
tags
TAGS
vgcore*
typescript

# Binaries
*.out
*.exe

# Profiling
*.gcda
*.gcno

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.d

# Libraries
*.lib
*.a
*.la
*.lo
*.old

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.tar.gz

# vi:ft=cfg:
